<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Product</title>
</head>
<body>


<form method="post" action="/post" enctype="multipart/form-data">
    <input type="text"  name="name"  placeholder="name" title="name" />

    <input type="text" name="price" placeholder="price" title="price"/>

    <input type="text" name="category" placeholder="category" title="category"/>

    <input type="file" name="file"/>

    <button type="submit">Change</button>
</form>



</body>
</html>