<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Change Product</title>
</head>
<body>


<form method="post" action="/changeProduct" enctype="multipart/form-data">
    <input type="text"  th:value="${productToChange.name}"  name="name"  placeholder="name" title="name" />

    <input type="text" th:value="${productToChange.price}" name="price" placeholder="price" title="price"/>

    <input type="file" th:value="${productToChange.imagePath}" name="file"/>

    <img th:src="'images/' + ${productToChange.imagePath}" width="80px" height="80px"/>

    <button type="submit">Change</button>
</form>

<form method="post" action="/deleteProduct">

    <button type="submit" >Delete product</button>

</form>



</body>
</html>