<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:font-weight="http://www.w3.org/1999/xhtml"
      xmlns:td="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TruLAla</title>
</head>
<body>


<form method="post" action="/post" enctype="multipart/form-data">
    <input type="text"  name="name"  placeholder="name" title="name" />

    <input type="text" name="price" placeholder="price" title="price"/>

    <input type="text" name="category" placeholder="category" title="category"/>

    <input type="file" name="file"/>

    <button type="submit">Add Goods</button>
</form>


<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Price </th>
        <th> Image </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${electro.empty}">
        <td colspan="2"> No Books Available </td>
    </tr>
    <tr th:each="book : ${electro}" bgcolor="aqua"   >
        <td width="200px" height="50px"><span th:text="${book.id}" > Id </span></td>
        <td width="200px" height="50px"><span th:text="${book.name}"> name </span></td>
        <td width="200px" height="50px"><span th:text="${book.price}"> price </span></td>
        <td width="80px" height="80px"><img th:src="'images/' + ${book.imagePath}" width="80px" height="80px"/>
    </tbody>
</table>

</body>
</html>