<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:font-weight="http://www.w3.org/1999/xhtml"
      xmlns:td="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TruLAla</title>

</head>
<body>

<!--<form method="get" action="/pos?category=santehnica"  >-->
<!--    <button type="submit" value="santehnica" >Santehnica</button>-->
<!--</form>-->
<!--<a href="https://budmagas.herokuapp.com/pos?category=vsedlyaremontu">-->
<a href="http://localhost:8080/pos?category=vsedlyaremontu">
    <button>Goods</button></a>
<a href="http://localhost:8080/pos?category=santehnica">
    <button>Santehnica</button></a>
<a href="http://localhost:8080/pos?category=budsum">
    <button>BudivelniSumishi</button></a>
<a href="http://localhost:8080/pos?category=electroinstrumenty">
    <button>Electroinstrument</button></a>
<a href="http://localhost:8080/pos?category=instrumenty">
    <button>Instrument</button></a>
<a href="http://localhost:8080/pos?category=sadgorod">
    <button>SadGorod</button></a>

<br>
<br>

<form method="post" action="/post" enctype="multipart/form-data">

    <input type="radio" id="VseDlyaRemontu" name="category" value="VseDlyaRemontu">
    <label for="VseDlyaRemontu">VseDlyaRemontu</label>

    <input type="radio" id="Electroinstrument" name="category" value="Electroinstrument">
    <label for="Electroinstrument">Electroinstrument</label>

    <input type="radio" id="Santehnica" name="category" value="Santehnica">
    <label for="Santehnica">Santehnica</label>

    <input type="radio" id="Instrumenty" name="category" value="Instrumenty">
    <label for="Instrumenty">Instrumenty</label>

    <input type="radio" id="BudivelniSumish" name="category" value="BudivelniSumish">
    <label for="BudivelniSumish">BudivelniSumish</label>

    <input type="radio" id="SadGorod" name="category" value="SadGorod">
    <label for="SadGorod">SadGorod</label><br><br>

    <input type="text" name="pidCategory" placeholder="pidCategory" title="pidCategory"/><br><br>

    <input type="text"  name="name"  placeholder="name" title="name" /><br><br>

    <input type="text" name="price" placeholder="price" title="price"/><br><br>

    <input type="text" name="description" placeholder="description" title="description"/><br><br>

    <input type="file" name="file"/><br><br>

    <button type="submit">Add Goods</button><br><br>
</form>


<table id="table" bgcolor="#8a2be2" >
    <thead >
    <tr>
        <th bgcolor="#f0f8ff" > Id </th>
        <th bgcolor="#f0f8ff"> Name </th>
        <th bgcolor="#f0f8ff"> Price </th>
        <th bgcolor="#f0f8ff">Category </th>
        <th bgcolor="#f0f8ff">PidCategory </th>
        <th bgcolor="#f0f8ff">Description </th>
        <th bgcolor="#f0f8ff"> Image  </th>
        <th bgcolor="#f0f8ff">  </th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="book, ist :  ${electro}" bgcolor="aqua"   >
        <td width="150px" height="50px"><span  th:text="${book.id}" > Id </span></td>
        <td width="150px" height="50px"><span th:text="${book.name}"> name </span></td>
        <td width="150px" height="50px"><span th:text="${book.price}"> price </span></td>
        <td width="150px" height="50px"><span th:text="${book.categoty}"> category </span></td>
        <td width="150px" height="50px"><span th:text="${book.pidCategory}"> pidCategory </span></td>
        <td width="150px" height="50px"><span th:text="${book.description}"> description </span></td>
        <td width="80px" height="80px"><img th:src="'/Tmp/' + ${book.imagePath}" width="80px" height="80px"/>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!--           String idForProduktToChange44 v ControllerDelete povynen buty takiy samiy -->
<!--        !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <td width="80px" height="80px"><a th:href="${book.categoty}+'?idForProduktToChange44=' +${book.id}">
                    <button>Change</button></a></td>
    </tr>
            <!--        <td width="80px" height="80px"><a th:href=" 'changeProduct55?id=' + ${book.id}">-->
<!--        <button onclick="changeProduct(obj)" >Change</button></a></td>-->
    </tbody>
</table>

<!--<script type="text/javascript" th:src="@{/images/scripts/script.js}"></script>-->
</body>
</html>